<div class="row">
	<div class="offset-sm-1 col-sm-10 offset-sm-1">
		<h2>Delete Account</h2>
	  <h5>If you want to delete your account and all the data related to it please click the button below and we will delete your account for you...</h5>
	  <%= button_to "Delete my account", users_path, data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
	</div>
</div>
