<div class="row user-signin">
  <div class="col-lg-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render "devise/registrations/edit" %>
      </div>
    </div>
  </div>
</div>