<div role="tabpanel">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#student" aria-controls="student" role="tab" data-toggle="tab">Student - Sign Up</a>
		</li>
		<li role="presentation">
			<a href="#teacher" aria-controls="teacher" role="tab" data-toggle="tab">Teacher - Sign Up</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="student">
			<div class="row user-signin">
				<div class="col-lg-6 col-md-offset-3">
					<div class="panel panel-default">
						<div class="panel-body">
							<h1>Student - Sign Up</h1>
							<%= render "devise/registrations/new_student" %>
							<%= render "devise/shared/links" %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="teacher">
			<div class="row user-signin">
				<div class="col-lg-6 col-md-offset-3">
					<div class="panel panel-default">
						<div class="panel-body">
							<h1>Teacher - Sign Up</h1>
							<%= render "devise/registrations/new_teacher" %>
							<%= render "devise/shared/links" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
