<ul id="tabs-swipe-demo" class="tabs">
	<li class="tab col s3"><a class="active" href="#test-swipe-1">Sign in</a></li>
	<li class="tab col s3"><a href="#test-swipe-2">Sign up - Student</a></li>
	<li class="tab col s3"><a href="#test-swipe-3">Sign up - Teacher</a></li>
</ul>
<div id="test-swipe-1">
	<div class="container">
		<div class="card-panel">
			<h1>Sign in</h1>
			<%= render "devise/sessions/new" %>
		</div>
	</div>
</div>
<div id="test-swipe-2">
	<div class="container">
		<div class="card-panel">
			<h1>Sign up</h1>
			<%= render "devise/registrations/new_student" %>
		</div>
	</div>
</div>
<div id="test-swipe-3">
	<div class="container">
		<div class="card-panel">
			<h1>Sign up</h1>
			<%= render "devise/registrations/new_teacher" %>
		</div>
	</div>
</div>
