<div class="card">
	<div class="card-header">
		<ul class="nav nav-pills nav-fill nav-justified" id="pills-tab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Sign In</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Student Sign Up</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Teacher Sign Up</a>
		  </li>
		</ul>
	</div>
	<div class="card-body">
		<div class="tab-content" id="pills-tabContent">
		  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
		  	<%= render "devise/sessions/new" %>
		  </div>
		  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
				<%= render "devise/registrations/new_student" %>
		  </div>
		  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
				<%= render "devise/registrations/new_teacher" %>
		  </div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#signin_form").validate({
			debug: false,
			errorElement: 'small',
			errorClass: 'form-text text-muted error',
			rules: {
				"email": {email: true, required: true},
				"passwd": {minlength: 6, required: true}
			}
		});
		$("#teacher_form").validate({
			debug: false,
			errorElement: 'small',
			errorClass: 'form-text text-muted error',
			rules: {
				"user[name]": {required: true, maxlength: 25},
				"user[dob]": {date: true, required: true},
				"user[contact]": {pattern: /^(?:(?:\+|0{0,2})91(\s*[\ -]\s*)?|[0]?)?[789]\d{9}|(\d[ -]?){10}\d$/, required: true},
				"user[email]": {email: true, required: true},
				"user[expertise]": {required: true},
				"user[password]": {minlength: 6, required: true},
				"user[password_confirmation]": {minlength: 6, required: true},
			},
			messages: {
				"user[contact]": {
					pattern: "Please enter a valid Indian phone number",
				}
			}
		});
		$("#student_form").validate({
			debug: false,
			errorElement: 'small',
			errorClass: 'form-text text-muted error',
			rules: {
				"user[name]": {required: true, maxlength: 25},
				"user[dob]": {date: true, required: true},
				"user[contact]": {pattern: /^(?:(?:\+|0{0,2})91(\s*[\ -]\s*)?|[0]?)?[789]\d{9}|(\d[ -]?){10}\d$/, required: true},
				"user[email]": {email: true, required: true},
				"user[password]": {minlength: 6, required: true},
				"user[password_confirmation]": {minlength: 6, required: true},
			},
			messages: {
				"user[contact]": {
					pattern: "Please enter a valid Indian phone number",
				}
			}
		});
	});
</script>
