<div class="home-panel panel panel-default">
	<div class="panel-body">
		<h1>Welcome to Coursify!</h1>
		<% if !user_signed_in? %>
			<h3>Get started <%= link_to 'here'.html_safe, get_started_url %>.</h3>
		<% end %>
	</div>
</div>
