body
{
	font-family: "Roboto";
}

.navbar
{
	border-radius: 0;
	.navbar-brand
	{
		font-family: "Satisfy";
	}
}

.user-signin
{
	margin-top: 10px;
	h1
	{
		text-align: center;
		font-weight: 100;
	}
}